.cdx-trans-icon svg {
  transform: rotate(180deg);
}

.cdx-trans {
  margin: 0;
}

.cdx-header {
  font-size: 1.5rem;
}

.cdx-trans__original {
  margin-bottom: 10px;
}

.cdx-trans__translation {
  margin-bottom: 15px;
}

.cdx-trans [contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-trans [contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-trans [contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-trans-settings {
  display: flex;
}

.cdx-trans-settings .cdx-settings-button {
  width: 50%;
}
